html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
 	margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
 	margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
	font-weight: bold;
}

/*  ProductRating */
.myAppDemoWTProductRating {
	padding: 0.75rem;
}

.myAppDemoWTProductRating .sapMRI {
	vertical-align: initial;
}

.redBackground {
	background-color: red !important;
}

.fadeMatchPolicy {
	color: Gainsboro !important;
}



.reviewDetailObject .sapMOHRTitleNumberDiv{
  max-width : 100%;
}

.reviewDetailObject .sapMOHRStates{
  max-width : 100%;
}
